extends layout

block content
  h1= title
  p Welcome to S3 Client
  p List of Objects in #{bucket}
  
  table
    tr
        td Name
        td Size
        td 
    each o in objects
        tr
            td= o.Key
            td= o.Size
            td #[a(href='/#{bucket}/#{o.Key}') Get]

